.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Roguenaissance2.0.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
logs/rn_debug.log
*.pyc
*.sav
.env/
.env3/
.idea/
highscores.dat